AggityPresenceControlWSAsmxClient/Web References/PunchDataServiceWSProxy/PunchDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendPunchData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="punchDataBaseJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendPunchDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendPunchDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportPunchData">
        <s:complexType />
      </s:element>
      <s:element name="ExportPunchDataResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendPunchDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendPunchData" />
  </wsdl:message>
  <wsdl:message name="SendPunchDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendPunchDataResponse" />
  </wsdl:message>
  <wsdl:message name="ExportPunchDataSoapIn">
    <wsdl:part name="parameters" element="tns:ExportPunchData" />
  </wsdl:message>
  <wsdl:message name="ExportPunchDataSoapOut">
    <wsdl:part name="parameters" element="tns:ExportPunchDataResponse" />
  </wsdl:message>
  <wsdl:portType name="PunchDataServiceSoap">
    <wsdl:operation name="SendPunchData">
      <wsdl:input message="tns:SendPunchDataSoapIn" />
      <wsdl:output message="tns:SendPunchDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportPunchData">
      <wsdl:input message="tns:ExportPunchDataSoapIn" />
      <wsdl:output message="tns:ExportPunchDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PunchDataServiceSoap" type="tns:PunchDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPunchData">
      <soap:operation soapAction="http://tempuri.org/SendPunchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportPunchData">
      <soap:operation soapAction="http://tempuri.org/ExportPunchData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PunchDataServiceSoap12" type="tns:PunchDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendPunchData">
      <soap12:operation soapAction="http://tempuri.org/SendPunchData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportPunchData">
      <soap12:operation soapAction="http://tempuri.org/ExportPunchData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PunchDataService">
    <wsdl:port name="PunchDataServiceSoap" binding="tns:PunchDataServiceSoap">
      <soap:address location="http://localhost/AggityPresenceControlWS_ASMX/PunchDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="PunchDataServiceSoap12" binding="tns:PunchDataServiceSoap12">
      <soap12:address location="http://localhost/AggityPresenceControlWS_ASMX/PunchDataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>